@charset "UTF-8";
/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .tablinks.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#private {
    background-color: linen;
}

#public {
    background-color: aliceblue;
}

.plan {
    width: 350px;
    height: 250px;
    background-color: linen;
}

img.circle_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    alt: "사진";
    border:solid 1px black;
}

.suggestion {
    width: 268px;
    height: 158px;
    padding: 40px 40px 0px;
    border: solid red 1px;
}

.requirments {
    width: 250px;
    height: 40px;
    margin: auto;
    border-top: solid yellow 1px;
    font-size: 10px;
    padding-top: 4px;
}

.answer {
    border: solid blue 1px;
    width: 338px;
    height: 38px;
    padding: 5px;
}

.yes {
    width: 108px;
    height: 38px;
    border-right: solid lightblue 1px;
    display: inline-block;
}

.no {
    width: 108px;
    height: 38px;
    border-right: solid lightblue 1px;
    display:inline-block;
}

.postpone {
    width: 109px;
    height: 38px;
    display:inline-block;
}

p.h1 {
}

